{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New Account{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Account Name</label>
        <input name="name" id="account_name" value="{{ request.form['name'] }}" required>
        <label for="balance">Current Balance</label>
        <input name="balance" id="account_balance" value="{{ request.form['balance'] }}">
        <label for="account_type">Account Type</label>
        <select name="account_type" id="account_type">
            {% for type in types %}
                <option value="{{ type.name }}">{{ type['name'] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Save">
    </form>
{% endblock %}
