{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Budget Summary{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="accounts">
        <h3>Accounts</h3>
        <table>
            <thead>
                <tr>
                    <th><span>Account Name</span></th>
                    <th><span>Balance</span></th>
                    <th><span>Account Type</span></th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td><span>{{ account['name'] }}</span></td>
                        <td><span>{{ account['balance'] }}</span></td>
                        <td><span>{{ account['ty_name'] }}</span></td>
                        <td><a href='{{ account["id"] }}/update_account'>Update</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="./add_account">Add Account</a>
    </div>
    <div id="add_transaction">
        <h3>Add Transaction</h3>
        <form method="post">
            <label for="date">Date (MM/DD/YYYY)</label>
            <input name="date" id="date" value="{{ request.form['date'] }}" required>
            <label for="time">Time (HH:MM)</label>
            <input name="time" id="time" value="{{ request.form['time'] }}">
            <label for="vendor">Merchant</label>
            <input name="vendor" id="vendor" value="{{ request.form['vendor'] }}" required>
            <label for="category">Category</label>
            <input name="category" id="category" value="{{ request.form['category'] }}" required>
            <label for="transaction_type">Type</label>
            <select name="transaction_type" id="transaction_type">
                {% for type in types %}
                    <option value="{{ type.name }}">{{ type['name'] }}</option>
                {% endfor %}
            </select>
            <label for="amount">Amount</label>
            <input name="amount" id="amount" value="{{ request.form['amount'] }}" required>
            <label for="account">Select Account</label>
            <select name="account" id="account" required>
                {% for account in accounts %}
                    <option value="{{ account.name }}">{{ account['name'] }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Save">
        </form>
    </div>
    <div id="transactions">
        <h3>Transactions</h3>
        <table>
            <thead>
                <tr>
                    <th><span>Date</span></th>
                    <th><span>Time</span></th>
                    <th><span>Vendor</span></th>
                    <th><span>Category</span></th>
                    <th><span>Type</span></th>
                    <th><span>Amount</span></th>
                    <th><span>Account</span></th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td><span>{{ transaction['date_occurred'] }}</span></td>
                        <td><span>{{ transaction['time_occurred'] }}</span></td>
                        <td><span>{{ transaction['v_name'] }}</span></td>
                        <td><span>{{ transaction['c_name'] }}</span></td>
                        <td><span>{{ transaction['ty_name'] }}</span></td>
                        <td><span>{{ transaction['amount'] }}</span></td>
                        <td><span>{{ transaction['a_name'] }}</span></td>
                        <td><form action="{{ url_for('budget.delete_transaction', id=transaction['id']) }}" method="post">
                            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                        </form></td>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
